 html,{}





.row{
  margin:10px;
  width: 100%;
}


.alert {
  color: rgb(255, 0, 0);
  width: 100%;
  margin: 10px;
}

.alertInvalid {
  color: rgb(255, 0, 21);
  width: 100%;
  margin: 10px;
}

.alertValid {
  color: green;
  width: 100%;
  margin: 10px;
}

.displayReg, .displayRegClass {
  width:100%;
  box-sizing: border-box;
  float: left;
  list-style: none;
  font-size-adjust: inherit;

}


.displayRegClass li {
  list-style: none;
  float: left;
  width: 150px;
  margin: 10px;
  border: 2px black solid;
  padding:5px;
  border-radius: 5px;
  background-color: #FCEB61;
}

@media (max-width: 500px) {

  .handleBars{
    width: 90%;
    padding:20px;
    float: left;
  }

  .static{
    width: 90%;
    padding:20px;
    float: left;
  }

} 

.heading {
  width:110%;
  float: center;
  font-size: larger;
  text-underline-position: below;
  text-shadow: 2px 2px 5px rgb(90, 79, 79);

  }

  h4 {
    font-size: 4ch;
  }

body {
 background-image: url("https://img.clipartxtras.com/a964e76b6b0f8828e2b8b041dc71fac3_mercedes-benz-300-luxury-car-drawing-photograph-by-keith-webber-jr-mercedes-benz-car-drawing_900-600.jpeg");
 background-size: 60%;
 background-repeat: no-repeat;
 background-position: right;
 font-size: 150%;
 line-height: 1.6;
 padding: 25px 50px 75px;
 align-content: right;
}



.addRegButtonTwo {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 5px;
  margin-left: 5px;
  border: 2px solid #555555;
  width:10%;
  height: 23px;
  font-size: 1,3ch;

}

.addRegButtonTwo:hover {
  background-color: #555555;
  color: white;
}


.clearRegButton {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 5px;
  margin-left: 5px;
  border: 2px solid #555555;
  width:10%;
  height: 23px;
  font-size: 1,3ch;
}

.clearRegButton:hover {
  background-color: #555555;
  color: white;
}

.regNumInput center {
  font-size-adjust: initial;
}

h6 {
  
  
  animation: move 5s infinite;
}

@keyframes move {
  from { margin-left: 0px; }
  to { margin-left: 100px; }
}